- const suffix = isDev ? ' - Dev' : '';
head
  title Ad Showcase#{suffix}
  link(rel="stylesheet" href="/main.css")
  if isDev
    script(src="http://localhost:35729/livereload.js?snipver=1")
  script(src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" async="async" data-ad-client="ca-pub-9336662327523738")
  //- script(type="text/javascript" charset="utf-8") (function(g,o){g[o]=g[o]||function(){(g[o]['q']=g[o]['q']||[]).push(arguments)},g[o]['t']=1*new Date})(window,'_googCsa');
