- var adnum = 0;
doctype html
html
  include ../includes/head
  body
    include ../includes/header
    div.cols
      div.col
        div
          label Advertisements targeted at
          h2 you
        div.gallery-you
          include ../includes/gallery
      div.col
        div
          label Advertisements targeted at
          h2 a persona
        div.gallery-persona
          include ../includes/gallery
  script(src="/main.js")
